<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <remove users="RVCC\G00122557" roles="" verbs="" />
                <add accessType="Allow" users="ACADEMIC\G00294719" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
